/**
 * DeadPress CSS
 *
 */


.login h1 a {
	background-image: url( 'img/wordpress-stealie.png' );
	background-size: 200px auto;
	height: 200px;
	margin: 0 auto;
	padding-bottom: 15px;
	width: 200px;
}

#login {
	padding: 1% 0 0;
}